  <div class="page-header">
    <h2><%=t '.title', :default => [:'helpers.titles.new', 'Resend confirmation instructions'] %></h2>
  </div>

<%= bootstrap_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post },
  layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-8") do |f| %>
  <%= devise_error_messages! %>

  <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>

  <%= f.form_group do %>
    <%= f.submit "Resend confirmation instructions" %>
  <% end %>
<% end %>

<%= render "devise/shared/links" %>
