  <div class="page-header">
    <h2><%=t '.title', :default => [:'helpers.titles.new', 'Sign up'] %></h2>
  </div>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <% if !flash[:alert].nil? %>
    <div class="alert alert-danger" role="alert">
      <p id="notice"><%= flash[:alert] %></p>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :username, autofocus: true %>
  </div>

  <div class="field">
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
