<%= bootstrap_form_for [@project, @task], layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-8" do |f| %>

  <%= f.text_field :title %>
  <%= f.text_area :description %>

  <% if current_user.project_hierarchy?(@project) >= 1 %>
    <%= f.date_field :deadline %>
  <% else %>
    <%= f.label @task.deadline, :class => 'control-label' %>
  <% end %>

  <% if !@task.new_record? %>
    <%= f.number_field :progress, :min => 0, :max => 100 %>
  <% end %>

  <%= f.form_group :bugs, label: {text: "Bugs"} do %>
    <%= f.nested_fields_for :bugs, layout: :horizontal, label_col: "col-sm-1", control_col: "col-sm-8" do |bf| %>
        <%= bf.select :id, @project.bugs.map{|b,v| [b.title, b.id] }, {label: "Bug"} %>
        <%= bf.remove_nested_fields_link %>
    <% end %>
    <%= f.add_nested_fields_link :bugs %>
  <% end %>

  <%= f.form_group do %>
    <%= f.submit %>
    <%= link_to "Back", "#", onclick: "history.back();", :class => 'btn btn-default' %>
  <% end %>
<% end %>






<!--
<%= form_for(@task, :html => { :class => "form-horizontal event" },
    :url => project_tasks_path(@project)) do |f| %>
<% if @task.errors.any? %>
  <div id="error_explanation" class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h3>
    </div>
    <div class="panel-body">
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="form-group">
  <%= f.label :title, :class => 'control-label col-lg-2' %>
  <div class="col-lg-4">
    <%= f.text_field :title, :class => 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :description, :class => 'control-label col-lg-2' %>
  <div class="col-lg-4">
    <%= f.text_area :description, :class => 'form-control' %>
  </div>
</div>


<div class="form-group">
  <%= f.label :deadline, :class => 'control-label col-lg-2' %>
  <div class="col-lg-4">
    <% if current_user.project_hierarchy?(@project) >= 1 %>
      <%= f.date_field :deadline, :class => 'form-control' %>
    <% else %>
      <%= f.label @task.deadline, :class => 'control-label' %>
    <% end %>
  </div>
</div>

<% if !@task.new_record? %>
  <div class="form-group">
    <%= f.label :progress, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.number_field :progress, :class => 'form-control', :min => 0, :max => 100 %>
    </div> %
  </div>
<% end %>

  <%= f.nested_fields_for :bugs do |bf| %>
    <div class="form-group">
      <%= bf.label :bug, :class => 'control-label col-lg-2' %>
      <div class="col-lg-4">
        <%= bf.select :id, @project.bugs.map{|b,v| [b.title, b.id] }, :class => 'form-control' %>
      </div>
      <%= bf.remove_nested_fields_link %>
    </div>
  <% end %>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-4">
      <%= f.add_nested_fields_link :bugs %>
    </div>
  </div>

<div class="form-group">
  <div class="col-lg-offset-2 col-lg-4">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              project_tasks_path, :class => 'btn btn-default' %>
  </div>
</div>
<% end %>
-->
