<h2>Resend unlock instructions</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post },
  layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-8") do |f| %>
  <%= devise_error_messages! %>

    <%= f.email_field :email, autofocus: true %>

    <%= f.form_group do %>
      <%= f.submit %>
    <% end %>
<% end %>

<%= render "devise/shared/links" %>
