<%- model_class = Project -%>
<div class="page-header">
  <h1>
    <%=t '.name', :default => model_class.model_name.human.titleize %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @project.title %></dd>

  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @project.description %></dd>

  <dt><strong><%= model_class.human_attribute_name(:manager) %>:</strong></dt>
  <dd><%= @project.manager.display_name %></dd>

  <% if current_user.project_hierarchy?(@project) >= 0 %>
    <dt><strong><%= model_class.human_attribute_name(:team) %>:</strong></dt>
    <dd><%= link_to @project.team.members.count, project_team_path(@project) %></dd>

    <dt><strong><%= model_class.human_attribute_name(:tasks) %>:</strong></dt>
    <dd><%= link_to @project.tasks.count, project_tasks_path(@project) %></dd>
  <% end %>

  <dt><strong><%= model_class.human_attribute_name(:bugs) %>:</strong></dt>
  <dd><%= link_to @project.bugs.count, project_bugs_path(@project) %></dd>

  <% if current_user.project_hierarchy?(@project) >= 0 %>
    <dt><strong>Assets:</strong></dt>
    <dd><%= link_to "...", project_asset_directory_index_path(@project) %></dd>
  <% end %>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              projects_path, :class => 'btn btn-default'  %>
<% if current_user.project_hierarchy?(@project) %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_project_path(@project), :class => 'btn btn-default' %>
<% end %>
