<%= form_for(@bug, :html => { :class => "form-horizontal event" },
    :url => project_bugs_path(@project)) do |f| %>
<% if @bug.errors.any? %>
  <div id="error_explanation" class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%= pluralize(@bug.errors.count, "error") %> prohibited this bug from being saved:</h3>
    </div>
    <div class="panel-body">
      <ul>
      <% @bug.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="form-group">
  <%= f.label :title, :class => 'control-label col-lg-2' %>
  <div class="col-lg-10">
    <%= f.text_field :title, :class => 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :description, :class => 'control-label col-lg-2' %>
  <div class="col-lg-10">
    <%= f.text_area :description, :class => 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :severity, :class => 'control-label col-lg-2' %>
  <div class="col-lg-10">
    <%= f.select :severity, Bug.severities.map {|k,v| [k.humanize, k]}, :class => 'form-control' %>
  </div>
</div>

<% if !@bug.new_record? %>
  <% if current_user.project_hierarchy?(@bug.project) >= 1 %>
    <div class="form-group">
      <%= f.label :state, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.select :state, Bug.states.map {|k,v| [k.humanize, k]}, :class => 'form-control' %>
      </div>
    </div>
  <% end %>
<% else %>
  <%= f.hidden_field :state, :value => :open %>
<% end %>

<div class="field">
  <%= f.label :screenshot %>
  <%= f.file_field :screenshot %>
</div>

<div class="form-group">
  <div class="col-lg-offset-2 col-lg-10">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              project_bugs_path, :class => 'btn btn-default' %>
  </div>
</div>
<% end %>
