<%- model_class = Bug -%>
<div class="page-header">
  <h2><%=t '.name', :default => model_class.model_name.human.pluralize.titleize %></h2>
  <p id="notice"><%= notice %></p>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:severity) %></th>
      <th><%= model_class.human_attribute_name(:state) %></th>
      <th><%= model_class.human_attribute_name(:task_count) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @bugs.each do |bug| %>
      <tr>
        <td><%= bug.id %></td>
        <td><%= link_to bug.title, project_bug_path(@project, bug) %></td>
        <td><%= model_class.human_attribute_name(bug.severity) %></td>
        <td><%= model_class.human_attribute_name(bug.state) %></td>
        <% if current_user.project_hierarchy?(project) >= 0 %>
          <td><%= link_to bug.tasks.count, project_tasks_path(@project) %></td>
        <% else %>
          <td><%= bug.tasks.count %></td>
        <% end %>
        <td>
          <% if current_user.project_hierarchy?(@project) >= 0 || bug.creator == current_user %>
            <%= link_to t('.show', :default => t("helpers.links.show")),
                        project_bug_path(@project, bug), :class => 'btn btn-default btn-xs' %>
            <% if current_user.project_hierarchy?(bug.project) >= 1 || bug.creator == current_user %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_project_bug_path(@project, bug), :class => 'btn btn-default btn-xs' %>

              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          project_bug_path(@project, bug),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-xs btn-danger' %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_project_bug_path(@project),
            :class => 'btn btn-primary' %>
<%= link_to t('.back', :default => t("helpers.links.back")),
            project_path(@project), :class => 'btn btn-default'  %>
